@tailwind base;
@tailwind components;
@tailwind utilities;

/* reusable styles  */
.page-header {
  @apply font-[600] text-[22px] leading-[42px] font-poppins text-[#333333];
}

.flex-center {
  @apply flex items-center;
}

/* CSS reset */
* {
  @apply box-border p-0 m-0;
}

.react-date-picker__wrapper {
  border: none !important;
}
.react-calendar {
  border: none !important;
}
.react-calendar__navigation__label__labelText,
react-calendar__navigation__label__labelText--from,
react-calendar__month-view__weekdays__weekday,
react-calendar__tile react-calendar__month-view__days__day {
  @apply font-sans;
}

.react-calendar__month-view__weekdays__weekday > abbr {
  @apply font-poppins;
}
.react-calendar__tile > abbr {
  @apply font-sans;
}
.react-calendar__tile--active > abbr {
  color: white !important;
}
.selected-flag:hover {
  @apply rounded-[10px_!important];
}

.selected-flag:focus {
  @apply rounded-l !important;
}

.flag-dropdown.open,
.selected-flag.open {
  @apply rounded-l !important;
}

.react-tel-input .country-list {
  @apply shadow-xl !important;
}

@layer components {
  .transit-2 {
    transition: all 200ms ease-in-out;
  }
  .transit-3 {
    transition: all 300ms ease-in-out;
  }
  .pointer-inner {
    width: 200px;
    height: 60px;
    position: relative;
    background: white;
    clip-path: polygon(80% 5%, 90.5% 50%, 80% 95%, 2% 95%, 12% 50%, 2% 5%);
    stroke-width: 0.25em;
  }
  .pointer-outer {
    width: 200px;
    height: 60px;
    position: relative;
    background: white;
    clip-path: polygon(80% 5%, 90.5% 50%, 80% 95%, 2% 95%, 12% 50%, 2% 5%);
    stroke-linecap: round;
    stroke-width: 0.25em;
    transform: translateX(-12%);
  }
  .pointer-inner-start {
    width: 200px;
    height: 60px;
    position: relative;
    background: white;
    clip-path: polygon(80% 5%, 90.5% 50%, 80% 95%, 0% 95%, 0% 50%, 0% 5%);
    stroke-width: 0.25em;
  }
  .pointer-outer-start {
    width: 200px;
    height: 60px;
    position: relative;
    background: white;
    clip-path: polygon(80% 5%, 90.5% 50%, 80% 95%, 0% 95%, 0% 50%, 0% 5%);
    stroke-width: 0.25em;
  }
  .invert-icon {
    filter: invert(1) brightness(2000%);
  }
}
